# Environment variables (API kulcsok!)
.env

# Java / Maven
backend/target/
*.jar
*.class

# Node
frontend/node_modules/
frontend/dist/
frontend/.angular/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Teszt output
*.txt
!README.md
